form{
    background-color: rgb(212, 168, 222);
    display: inline-block;
    margin-left: 40%;
}
img{
    width: 150px;
    height: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%; 
}
h4{
    color: rgb(39, 13, 63);
    font-family: 'Caveat', cursive;
    font-size: 20PX;
}
ul,h3,h6{
    font-family: 'Single Day', cursive;
    color: rgb(39, 13, 63);
}
.comprar{
    background-color: rgb(22, 109, 22);
    border-radius: 10px;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    width: 50%;
    transition-duration: 0.3s;
}
.comprar:hover, button:hover, a:hover{
    background-color: #0fc315;
    color: #fff;
    transform: translateY(7px); 
    box-shadow: 0 4px 16px rgb(0, 0, 0); 
}
.comprar:active, button:active {
    transform: scale(0.9);
}
.container{
    display: flex;
    
}
button, a{
    background-color: rgb(22, 109, 22);
    border-radius: 10px;
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    width: 50%;
    transition-duration: 0.3s;
}
.salvador{
    flex: 1;
    margin: 15px;
    text-align: center;
    border:solid 2px rgba(131, 140, 156, 0.088);
    background-color: rgb(208, 190, 244);
    border-radius: 1.5%;
    max-width: 200px;
}
.fortaleza{
    flex: 1;
    margin: 15px;
    margin: 15px;
    text-align: center;
    border:solid 2px rgba(131, 140, 156, 0.088);
    background-color: rgb(195, 177, 227);
    border-radius: 1.5%;
    max-width: 200px;
}
.campinas{
    flex: 1;
    margin: 15px;
    margin: 15px;
    text-align: center;
    border:solid 2px rgba(131, 140, 156, 0.088);
    background-color: rgb(212, 168, 222);
    border-radius: 1.5%;
    max-width: 200px;
}
@media(max-width: 1200px){
    .img{
        width: auto;
        height: auto;
    }
    .container{
        flex-direction: column;
    }
}
@media (min-width: 1201px) {
    .container{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .salvador, .fortaleza, .campinas {
        flex: 1; 
        text-align: center;
        border: solid 2px rgba(131, 140, 156, 0.088);
        background-color: rgb(208, 190, 244);
        border-radius: 1.5%;
        max-width: 200px;
    }
}