<form [formGroup]="usuarioForm" (ngSubmit)="submitForm()" #formDir = 'ngForm' class="form">
    <mat-form-field>
      <input matInput placeholder="Nome do usuário" formControlName="nomeUsuario">
      <div *ngIf = "nomeUsuario.invalid && formDir.submitted" class="validação"><p>Não deve conter espaços e deve ter no máximo 12 
        caracteres;</p></div>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="password" placeholder="Senha" formControlName="senha">
      <div *ngIf = "senha.invalid && formDir.submitted" class="validação"><p>A senha deve ter um comprimento mínimo de 4 caracteres, deve incluir pelo 
        menos uma letra maiúscula e um símbolo</p></div>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="E-mail" placeholder="E-mail" formControlName="email">
        <div *ngIf = "email.invalid && formDir.submitted" class="validação"><p>Deve inserir nome e sobrenome</p></div>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nome Completo" formControlName="nomeCompleto">
        <div *ngIf = "email.invalid && formDir.submitted" class="validação"><p>Deve ter um endereço de email válido</p></div>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Telefone" formControlName="telefone">
        <div *ngIf = "email.invalid && formDir.submitted" class="validação"><p>O número deve seguir o padrão brasileiro</p></div>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Endereço" formControlName="endereco">
        <div *ngIf = "email.invalid && formDir.submitted" class="validação"><p> Deve ter um endereço válido</p></div>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Data de Nascimento" formControlName="dataNascimento">
        <div *ngIf = "email.invalid && formDir.submitted" class="validação"><p>Deve ter uma data válida e o usuário deve ter no mínimo 
            18 anos</p></div>
    </mat-form-field>

    <mat-form-field>
        <label for="gender">Gênero:</label>
        <select id="gender" formControlName="genero">
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Neutro">Neutro</option>
          </select>
          <div *ngIf="genero.invalid && formDir.submitted" class="validação">
            <p>Escolha um gênero</p>
          </div>
    </mat-form-field>

    <mat-form-field>
          <label for="profissão">Profissão</label>
        <select id="profissao" formControlName="profissao">
            <option value="Medico">Medico</option>
            <option value="Professor">Professor</option>
            <option value="Engenheiro">Engenheiro</option>
          </select>
          <div *ngIf="profissao.invalid && formDir.submitted" class="validação">
            <p>Escolha uma profissão valida</p>
          </div>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>


  