<form (ngSubmit)="submitForm(form)" #form="ngForm">

    <div class="title">Cadastro de atendimento</div>
    <div id="formulario">
      <mat-form-field>
        <input matInput name="nome" placeholder="Nome Completo do responsável" ngModel>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput name="cpf" placeholder="CPF do responsável" ngModel>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput name="nomePet" placeholder="Nome do Pet" ngModel>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Tipo de Serviço</mat-label>
        <mat-select name="servico" ngModel>
          <mat-option value="TosaBanho">Tosa e Banho</mat-option>
          <mat-option value="banho">Apenas banho</mat-option>
          <mat-option value="tosa">Apenas tosa</mat-option>
          <mat-option value="vacinacao">Vacinação</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput name="valor" placeholder="Valor" ngModel>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput name="horario" placeholder="Horário" ngModel>
      </mat-form-field>
  
      <button mat-button type="submit">Submeter</button>

    </div>
  </form>
  
