.form-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  label {
    display: flex;
    margin-bottom: 5px;
  }
  
  input {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #411f2d;;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: #ac4147;
  }
  