#categorias{
    margin-top: 20px;
    background-color: rgb(255, 65, 97);
    height: 50px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botoes{
    display:flex;
    flex-direction: column;
    margin-top: 25px;
}

#avioes{
    height: 50px;
    width: 60px;
    color: rgb(0, 0, 0);
    background-color: rgb(131, 252, 131);
    margin-bottom: 25px;
    border-radius: 15px;
    border-style: hidden;
}

#carros{
    height: 50px;
    width: 60px;
    color: rgb(0, 0, 0);
    background-color: rgb(131, 214, 252);
    margin-bottom: 25px;
    border-radius: 15px;
    border-style: hidden;
}

#barcos{
    height: 50px;
    width: 60px;
    color: rgb(0, 0, 0);
    background-color: rgb(235, 179, 179);
    margin-bottom: 25px;
    border-radius: 15px;
    border-style: hidden;
}