<div class="noticias">
    <header><h3>Notícias</h3></header>
    <div id = "containerNoticias">
    <div id="noticias">
        <p>Veja qual asteróide está próximo da terra hoje <i class="fa-brands fa-odysee" id="iconAstro"></i></p>
    </div>
    <div id="infoAst">
        <div id="nome">Nome:</div>
        <div id="magnitude">Magnitude:</div>
        <div id="perigo">Oferece perigo?</div>
        <div id="diametro">
            <div id="diametroMax">Diâmetro máximo:</div>
            <div id="diametroMin">Diâmetro Mínimo:</div>
        </div>
    </div>
</div>
